body {
	font-family: 'Raleway', sans-serif;
	color: rgba(0,0,0,5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
	background: linear-gradient(to right, blue, violet);
}	

h1 {
	font: 600 3.5em 'Roboto Mono', monospace;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
}

h3 {
	font: 900 1em 'Roboto Mono', monospace;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}

button {
	font: 900 1em 'Roboto Mono', monospace, bolder;
	display: inline;
	position: relative;
}

.random {
	text-align: center;
	margin-top: 2em;
}

